


/* STYLES GENERAUX */

    *{
                font-family: 'Roboto', sans-serif;
                padding: 0px;
                margin: 0px;
                --primary-blue: #4285F4;
                --primary-blue-dark:#3d5afe;
                --grey-color:#262626;
                --grey-color-alt:#2E2E2E;
                --white-color:#ecf0f1;
                
    }

    html{scroll-behavior: smooth;}

    h1,h2,h3,h4,h5,h6{font-weight: normal;}



    body{
        background-color: var(--grey-color);
        color: var(--grey-color);

        
        
    }

    .blue-color{color:var(--primary-blue)}
    .blue-color-dark{color:var(--primary-blue-dark)}
    .big-text{font-size: 34px;}
    .small-text{font-size: 20px; color: grey; padding: 10px;}

    :link{text-decoration: none; color: white;}
    :visited{text-decoration: none; color: white;}
    a{transition: color 0.1s;}
    a:hover{color:var(--primary-blue)}

    div#aPropos h1, div#competences h1, div#experience h1{font-size: 38px; padding: 35px 0px 20px 0px; font-weight: 500; text-align: center;
    }


    /* STYLE DU HEADER */

    header nav.sidebar{position: fixed;
        width: 200px;
    background-color: var(--grey-color);
    height: 100vh;
    color: var(--white-color);
    box-shadow: 0px 0px 10px rgb(29, 29, 29);

    z-index: 1;


    }

    nav.sidebar ul{list-style-type: none;
        text-align: center;
    
    }
    
    nav.sidebar ul li{padding: 25px; 
    transition: background-color 0.1s;}
    

    
    nav.sidebar ul li:hover:not(:first-child){background-color: var(--grey-color-alt);}
    nav.sidebar ul li:last-child{background-color: var(--primary-blue-dark);}



    .navbarBtn {display: none;}


  

    /* STYLE DU SECTION */


    section#principal{
        position: absolute;

        left: 200px;
        width:calc(100% - 200px);


        color:var(--white-color);
    }


    section div#premier{min-height:100vh;
        background-image: linear-gradient(to right top, #915bcd, #7f64d7, #696cdf, #4b73e6, #127aeb);  
        color: var(--white-color);
        text-align: center;
        display: flex;
        margin: auto;
 

       
    }

    section div#premier h1:first-child{
        font-size: 62px;
   padding: 20px;}

   section div#premier h1{font-size: 32px;
    padding: 40px;
    font-weight: 500;}



    .surligne{background-color: var(--grey-color);
    padding: 5px;}

    div.center{margin: auto; 
   }

   /* SECTION A PROPOS */
 


    section div#aPropos{
        width:100%;

        text-align:center;
    }

   

    

    div#aPropos ul{list-style-type: none;
    font-size: 24px;
    padding: 10px;
    text-align: left;
    padding-left: 50px;}

    div#aPropos ul:last-child{
        padding-bottom: 50px;
    } 


    


    /* SECTION MES COMPETENCES */

    section div#competences{
        background-color: var(--grey-color-alt);
        width: 100%;
        min-height: 300px;


        
    }



    div#competences h2{padding: 20px 0px 0px 50px; font-weight: 500;}
    div#competences p{padding: 10px 0px 0px 50px; font-size: calc(20px - 0.1vh);}
    section div#competences p:last-child{padding-bottom: 50px;}
    


    /* SECTION EXPERIENCE */

    section div#experience{
        width: 100%;
        min-height: 300px;
        padding-bottom: 10px;

    }

    .space{height: 10px;
    width: 100%;
background-color: transparent;}

    .timeline{
        width:40vw;
        
        background-color: var(--grey-color);
        
        margin: 20px auto;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0px 0px 10px rgb(24, 24, 24); 
        text-align: center;
    }

    .element{
        
      text-align: left;
      margin: 10px;
      padding: 10px;
    background-color: var(--grey-color-alt);
      border-radius: 10px;
    }

    .beatmaker-img{width: 0px;
    height: 0px;
    transition: width 0.2s, height 0.2s;

}

    .beatmaker-element:hover .beatmaker-img{width: 20vw; height: 20vh;}




    .element p{padding: 5px;}

    .element p:first-child{
        font-weight: 500;
        color: var(--primary-blue-dark);

    }

    div.cercle{
        width: 10px;
        height: 10px;
        border-radius: 20px;
        background: var(--grey-color-alt);
     
       position: relative;
       top: 50px;
       right: 7px;

    }

    div.line{width: 2px;
        float: left;
        height: 120px;
    background: var(--grey-color-alt);
    position: relative;
    top: 49px;
    right: 3px;
    border-radius: 5px;
    }



    /* AUTRES STYLES */









    .btn{background-color: transparent; border-radius: 50px; border: 1px solid transparent; color: white; transition: color 0.1s; font-size: 32px; margin: 10px;}
    .btn:hover{color: var(--primary-blue);}


    div#premier hr{background-color:var(--grey-color); width: 200px; border: none; height: 3px; margin:auto;}
    hr{background-color: var(--primary-blue); width: 60px; border: none; height: 3px; margin:auto;}

    .fw-500{font-weight: 500;}

    .go-up-btn{position: fixed; bottom:1vw; right:2vh; z-index: 2; border: 1px solid var(--primary-blue-dark); width: calc(100px - 0.2vw); height: (50px - 0.3vh); visibility: hidden; opacity: 0; transition: color 0.1s,opacity 0.1s, visibility 0.1s;}



/* MEDIA QUERIES */


@media screen and (max-width:900px) {


    /*h1,h2,h3,h4,h5,h6{font-size: 18px;}
    div#competences p{font-size: 6px;}*/

    header nav.sidebar {
      width: 100%;
      height: 60px;
      position: fixed;
      overflow: hidden;
    }

    header nav.sidebar .navbarBtn{display: inline; position: relative;}

    .titreNavbar{position: absolute; top: 5px; left: 50px;}

  

    header nav.sidebar ul li{padding: 10px;}
    
   

    section#principal{position: absolute;width: 100%; left: 0px;}


    


  }

  @media screen and (max-width: 600px) {
    header nav.sidebar {
        width: 100%;
        height: 60px;
        position: relative;
        overflow: hidden;
      }
  }